@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--light-1: #ffffff;
	--light-2: #fcfcfc;
	--light-3: #d0d0d0;
	--dark-1: #000000;
	--top-bar-height: 5rem;
	--brand-color: #5F9EA0;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Data Transfer', 'Circular Abstracts', 'Smooth Circulars', Arial, Helvetica, sans-serif;
	display: grid;
	min-height: 100vh;
	grid-template-areas: "nav"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
}

nav {
	grid-area: "nav";
}

main {
	grid-area: "main";
	background-color: var(--light-2);
	width: clamp(95vw, 85vw, 900px);
}

footer {
	grid-area: "footer";
}

h2 {
	font-size: 2rem;
}


@font-face {
	font-family: 'Smooth Circulars';
	src: local("Smooth Circulars") url("fonts/Smooth Circulars.otf") format("opentype");
}

@font-face {
	font-family: 'Circular Abstracts';
	src: local("Circular Abstracts"), url("fonts/Circular Abstracts.ttf") format("opentype");
}

@font-face {
	font-family: "Data Transfer";
	src: local("Data Transfer"), url("fonts/Data Transfer.otf") format("opentype");
}
