#footer {
	display: flex;
	justify-content: space-around;
	padding-inline: 3rem;
	background-color: var(--foreground);
	color: var(--light-3)
}

.footerCategory {
	display: flex;
	flex-direction: column;
	row-gap: .75rem;
	margin-block-start: 1rem;
	margin-block-end: 2rem;
}

.categoryTitle {
	font-size: 1.2rem;
	font-weight: 600;
}
